<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom">
    <div class="about">
        <div class="main-title">
            <h1>who am i</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                        @Html.Partial("_DividerSvg")
                    </svg>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="block-content margBSmall">

                <div class=" profile margBSmall">
                    <h1>John Connor</h1>
                    <h3>Full-Stack Web Developer</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Welcome to my personal site.  I am a software engineering professional with three+ years of experience in the industry.
                            My strengths lie in .NET development, namely Windows applications and Web applications in ASP.NET MVC.  I graduated from the University of Maryland, College Park in 2013 with a B.S. in Computer Science.
                        </p>
                    </div>

                    <div class="col-md-6">
                        <p>
                              Shortly after graduation
                            I moved to Washington, DC and have lived in the city for over two years.  I hope to eventually blog about my day to day experiences,
                            along with my take on aspects of the software development industry.  Check back soon for that; my blog is still under construction.
                        </p>
                    </div>
                </div>
            </div>
            <div class="block-content">
                <div class="info">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="info-list clearfix">
                                <li><span class="inf">Name </span>  <span class="value">John Connor</span></li>
                                @*<li><span class="inf">Date of birth</span>  <span class="value"> September 9, 1982 </span></li>*@
                                <li><span class="inf">Location</span>  <span class="value"> Washington, DC</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">

                            <ul class="info-list">
                                <li><span class="inf">Email</span>  <span class="value"><a href="mailto:hrgplumer@gmail.com">hrgplumer@gmail.com</a></span></li>
                                @*<li><span class="inf">Phone</span>  <span class="value">insert google talk number here</span></li>*@
                                <li><span class="inf">Twitter</span>  <span class="value">@@jconnordev</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Main title-->
        @*<div class="main-title">
            <h1>professional skills</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            @Html.Partial("_DividerSvg")
	                                    </svg>
                </div>


            </div>



        </div>*@
        <!--End main title-->
        <!--Content-->
        @*<div class="content">
                <!--Block content-->
                <div class="block-content margBMedium">


                    <!--Skill design-->
                    <div class=" skill des">


                        <!--Row-->
                        <div class="row ">

                            <div class="vc">

                                <div class="col-md-11">

                                    <ul class="skills-list clearfix">
                                        <li>
                                            <h4>Photoshop</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    75%
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>Illustrator</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    85%
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>Indesign</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    70%
                                                </div>
                                            </div>
                                        </li>



                                    </ul>

                                </div>


                                <div class="col-md-1">
                                    <div class="title des">
                                        <span>design</span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!--End row-->

                    </div>
                    <!--End skill design-->
                </div>
                <!--End block content-->
                <!--Block content-->
                <div class="block-content margBMedium">

                    <!--Skill design-->
                    <div class=" skill dev">

                        <!--Row-->
                        <div class="row">

                            <div class="vc">
                                <div class="col-md-11">
                                    <ul class="skills-list clearfix">
                                        <li>
                                            <h4>Html/css</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    90%
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>javascript</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    75%
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>php/mysql</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    90%
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <div class="col-md-1">
                                    <div class="title dev">
                                        <span>Coding </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!--End row-->
                    </div>
                    <!--End skill design-->
                </div>
                <!--End block content-->
                <!--Block content-->
                <div class="block-content">

                    <!--Skill design-->
                    <div class=" skill prs">

                        <!--Row-->
                        <div class="row ">

                            <div class="vc">
                                <div class="col-md-11">
                                    <ul class="skills-list clearfix">
                                        <li>
                                            <h4>Responsible</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    85%
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>Creative</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    75%
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <h4>Multitasking</h4>
                                            <div class="progress">
                                                <div class="percentage">
                                                    90%
                                                </div>
                                            </div>
                                        </li>






                                    </ul>
                                </div>

                                <div class="col-md-1">
                                    <div class="title prs">
                                        <span>assets </span>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!--End row-->
                    </div>
                    <!--End skill design-->
                </div>
                <!--End block content-->



            </div>*@

        <div class="main-title">
            <h1>experience</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                         @Html.Partial("_DividerSvg")
	                </svg>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="block-content ">
                <div class="timeline experience">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="exp-holder margTop">
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>Web Applications Developer &mdash; Akron, Inc. </h4>
                                        <h6 class="job-location"><i class="fa fa-map-marker"></i>Washington, DC</h6>
                                        <h6 class="job-location"><i class="fa fa-calendar"></i>Dec 2013 - <span class="current">Current</span></h6>
                                    </div>
                                    <p>
                                        <ul class="job-accomplishments">
                                            <li>Designed and created in-house Content Management System (CMS) which allowed non-technical users to update our websites and add blog entries and news stories</li>
                                            <li>Worked extensively in SQL Server &mdash; designed and maintained the data access layers for multiple websites</li>
                                            <li>Performed routine maintenance and added new features to existing websites using ASP.NET MVC6</li>
                                            <li>Supported website needs of a large trade organization</li>
                                            <li>Worked in a small team of three developers</li>
                                            <li>Upgraded legacy websites from ASP.NET MVC3 and/or ASP.NET Web Forms to ASP.NET MVC6</li>
                                            <li>Created multiple websites from scratch using HTML and CSS designs from design team</li>
                                            <li>Worked in Visual Basic .NET to maintain older sites</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>Software Engineer I &mdash; Exelis</h4>
                                        <h6 class="job-location"><i class="fa fa-map-marker"></i>Columbia, MD</h6>
                                        <h6 class="job-location"><i class="fa fa-calendar"></i>June 2013 &mdash; November 2013</h6>
                                    </div>
                                    <p>
                                        <ul class="job-accomplishments">
                                            <li>Worked as part of a team tasked with upgrading a 10 year old legacy application written in C++, C#, and Perl</li>
                                            <li>Created multiple C# DLLs to be referenced and called in the main project</li>
                                            <li>Documented the APIs of each DLL created</li>
                                            <li>Modified or updated legacy C++ code as needed</li>
                                            <li>Used COM interface to facilitate communication between C# and C++ code</li>
                                            <li>Translated existing modules and routines from Perl to C#</li>
                                            <li>Programmatically communicated with GSM modems using AT commands</li>
                                            <li>Participated in meetings with the customer, and translated their desires into feature requests</li>
                                            <li>Borland StarTeam was used as source control management</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>Software Engineer Intern &mdash; Action Systems, Inc. </h4>
                                        <h6 class="job-location"><i class="fa fa-map-marker"></i>Silver Spring, MD</h6>
                                        <h6 class="job-location"><i class="fa fa-calendar"></i>March 2012 &mdash; May 2013</h6>
                                    </div>
                                    <p>
                                        <ul class="job-accomplishments">
                                            <li>Designed and created a What You See Is What You Get (WYSIWYG) style restaurant menu editor in C#</li>
                                            <li>Designed XML schema for validation of menu editor save files</li>
                                            <li>Deployed software to beta sites and collected usage data, bug reports, and feature requests</li>
                                            <li>Created and maintained a regression testing server in the cloud using Amazon Web Services</li>
                                            <li>Trained incoming interns in quality assurance roles in a team environment</li>
                                            <li>Led daily planning and goal setting for development team</li>
                                            <li>Processed and solved help desk tickets for live restaurant sites</li>
                                        </ul>
                                    </p>
                                </div>
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>Best Buy </h4>
                                        <h6 class="job-location"><i class="fa fa-map-marker"></i>Germantown, MD</h6>
                                        <h6 class="job-location"><i class="fa fa-calendar"></i>June 2009 &mdash; January 2012</h6>
                                    </div>
                                    <p>
                                        <ul class="job-accomplishments">
                                            <li>Specialized in creating and authorizing customer solutions, including warranty plans, item returns and exchanges, and inventory lookup</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-title">
            <h1>education</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            @Html.Partial("_DividerSvg")
	                                    </svg>
                </div>
            </div>
        </div>

        <!--End main title-->
        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content">

                <!--Timeline-->
                <div class="timeline education">

                    <!--Row-->
                    <div class="row ">

                        <div class="col-md-12">

                            <!--Experience holder-->
                            <div class="exp-holder margTop">

                                <!--Experience-->
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>Bachelor Degree – Mutation Media </h4>
                                        <h6><i class="icon-calendar"></i>Mar 2015 - May 2015</h6>
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend
                                        incididunt labore
                                        et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </p>
                                </div>
                                <!--End experience-->
                                <!--Experience-->
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>Master Degree – Mutation Media </h4>
                                        <h6><i class="icon-calendar"></i>Sept 2015 - Nov 2015</h6>
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend
                                        incididunt labore
                                        et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </p>
                                </div>
                                <!--End experience-->
                                <!--Experience-->
                                <div class="exp">
                                    <div class="hgroup">
                                        <h4>School Of Science – Mutation Media </h4>
                                        <h6><i class="icon-calendar"></i>May 2015 - Sept 2015</h6>
                                    </div>
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend
                                        incididunt labore
                                        et dolore magna aliqua. Ut enim ad minim
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                        ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                    </p>
                                </div>
                                <!--End experience-->

                            </div>
                            <!--End experience holder-->
                        </div>

                    </div>
                    <!--End row-->
                </div>
                <!--End timeline-->
            </div>
            <!--End block content-->

        </div>
        <!--End content-->
        <!--Main title-->

        <div class="main-title">
            <h1>services</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            @Html.Partial("_DividerSvg")
	                                    </svg>
                </div>
            </div>
        </div>

        <!--End main title-->
        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content ">

                <!--Services-->
                <div class="services">

                    <!--Row-->
                    <div class="row ">


                        <!--Block-->
                        <div class="block service tCenter">


                            <div class="col-md-4">
                                <div class="ico">
                                    <i class="icon-lifebuoy"></i>
                                </div>

                                <div class="det">
                                    <h3>Great Support</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="ico">
                                    <i class="icon-print-1"></i>
                                </div>

                                <div class="det">
                                    <h3>Print &amp; Branding</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>

                            </div>



                            <div class="col-md-4">
                                <div class="ico">
                                    <i class="icon-megaphone"></i>
                                </div>

                                <div class="det">
                                    <h3>Marketing</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>

                            </div>



                        </div>
                        <!--End block-->
                    </div>
                    <!--End row-->
                    <!--Row-->
                    <div class="row">

                        <!--Divider-->
                        <div class="divider-m tCenter margTSmall margBSmall clearfix">



                            <div class="col-md-12">



                                <div class="zigzag medium clearfix " data-svg-drawing="yes">
                                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="45" height="5" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                                            @Html.Partial("_DividerSvg")
				                                        </svg>
                                </div>
                            </div>




                        </div>
                        <!--End divider-->

                    </div>
                    <!--End row-->
                    <!--Row-->
                    <div class="row ">


                        <!--Block-->
                        <div class="block service tCenter">


                            <div class="col-md-4">
                                <div class="ico">
                                    <i class="icon-monitor"></i>
                                </div>

                                <div class="det">
                                    <h3>Web Design</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>

                            </div>


                            <div class="col-md-4">
                                <div class="ico">
                                    <i class="icon-tools"></i>
                                </div>

                                <div class="det">
                                    <h3>development</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>

                            </div>



                            <div class="col-md-4">
                                <div class="ico">
                                    <i class="icon-lamp"></i>
                                </div>

                                <div class="det">
                                    <h3>Branding</h3>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                                </div>

                            </div>



                        </div>
                        <!--End block-->
                    </div>
                    <!--End row-->

                </div>
                <!--End servcices-->
            </div>
            <!--End block content-->

        </div>
        <!--End content-->
        <!--Main title-->

        <div class="main-title">
            <h1>testimonials</h1>
            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            @Html.Partial("_DividerSvg")
	                                    </svg>
                </div>
            </div>
        </div>

        <!--End main title-->
        <!--Content-->
        <div class="content">
            <!--Block content-->
            <div class="block-content ">

                <!--Testimonilas-->
                <div class="testimonials">

                    <!--Row-->
                    <div class="row ">

                        <div class="col-md-12">

                            <!--Slider-->
                            <div class="testi clearfix ">

                                <ul id="testimonial-carousel">
                                    <li>

                                        <div class="block-quote">
                                            <div class="block-img"><img alt="" src="/Content/img/testimonial/1.jpg"></div>
                                            <div class="block-icon"><i class="icon-quote"></i></div>
                                            <h3 class="block-profile">Carlose Smith   <span> CEO / Split Inc</span></h3>
                                            <blockquote>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                                totam rem aperiam, eaque ipsa quae ab illo
                                                inventore veritatis et quasi architecto beatae vitae dicta.
                                            </blockquote>

                                        </div>
                                    </li>
                                    <li>
                                        <div class="block-quote">
                                            <div class="block-img"><img alt="" src="/Content/img/testimonial/2.jpg"></div>
                                            <div class="block-icon"><i class="icon-quote"></i></div>
                                            <h3 class="block-profile">Carlose Smith<span> CEO / Split Inc</span></h3>
                                            <blockquote>
                                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                                                totam rem aperiam, eaque ipsa quae ab illo
                                                inventore veritatis et quasi architecto beatae vitae dicta.
                                            </blockquote>

                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!--End  slider-->


                        </div>


                    </div>
                    <!--End row-->

                </div>
                <!--End testimonials-->
            </div>
            <!--End block content-->

        </div>
        <!--End content-->
        <!--Button-->
        <div class="button margTop ofsInTop tCenter">

            <div class="divider">
                <div class="zigzag large clearfix " data-svg-drawing="yes">
                    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            @Html.Partial("_DividerSvg")
		                                </svg>
                </div>
            </div>


            <!--Row-->
            <div class="row ">


                <div class="col-md-12">
                    <a class="but opc-1 ico" href="#">Download my cv</a>
                    <a class="but opc-2 ico" href="#">Print my resume</a>

                </div>



            </div>
            <!--End row-->

        </div>
        <!--End button-->


    </div>
    <!--End about-->
</section>
<!--End about tab-->
