@model mywebsite.ViewModels.Shared.ViewModel
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>SPLIT - PERSONAL VCARD HTML TEMPLATE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/owl")
    @Styles.Render("~/bundles/css/magnific-popup")
    @Styles.Render("~/bundles/css/fonts")
    @Styles.Render("~/bundles/css/main")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @RenderSection("css", false)
    <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="/Content/css/ie9.css" />
    <![endif]-->
</head>
<body>
    @RenderBody()

    @Html.Partial("_Preloader")

    <!--Wrapper-->
    <div id="wrapper" class="margLTop  margLBottom">
        <div class="container">
            <div class="row ">
                <!--Left content-->
                <div class="col-md-3 nopr left-content">
                    @Html.Partial("_LeftHeader")
                </div>
                <!--End left content-->

                <!--Right content-->
                <div class="col-md-9 right-content">
                    @Html.Partial("_AboutSection")

                    @Html.Partial("_PortfolioSection")

                    @Html.Partial("_BlogSection")

                    @Html.Partial("_ContactSection")
                </div>
                <!--End right content-->
            </div>
        </div>
    </div>
    <!--End wrapper-->

    <!--Javascript-->
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/owl")
    @Scripts.Render("~/bundles/js/main")
    @Scripts.Render("~/bundles/js/magnific-popup")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>

    @RenderSection("script", false)

    <script>

        (function ($) {
            "use strict";

            $(document).ready(function () {

                $('#wrapper').easytabs({
                    animate: true,
                    updateHash: false,
                    transitionIn: 'fadeIn',
                    transitionOut: 'fadeOut',
                    animationSpeed: 100,
                    tabActiveClass: 'active',
                    tabs: ' #main-nav.tabbed > ul > li ',
                    transitionInEasing: 'linear',
                    transitionOutEasing: 'linear'

                });


                //---------------------------------- Google map location -----------------------------------------//


                $('#wrapper').bind('easytabs:after', function () {




                    var styles = [
                                    {
                                        stylers: [
                                            { saturation: -100 }

                                        ]
                                    }, {
                                        featureType: 'road',
                                        elementType: 'geometry',
                                        stylers: [
                                            { hue: "#74b7b0" },
                                            { visibility: 'simplified' }
                                        ]
                                    }, {
                                        featureType: 'road',
                                        elementType: 'labels',
                                        stylers: [
                                            { visibility: 'on' }
                                        ]
                                    }
                    ],

                                   lat = -33.867487,
                                   lng = 151.20699,





                                  customMap = new google.maps.StyledMapType(styles,
                                      { name: 'Styled Map' }),


                                  mapOptions = {
                                      zoom: 14,
                                      scrollwheel: false,
                                      disableDefaultUI: true,
                                      center: new google.maps.LatLng(lat, lng),
                                      mapTypeControlOptions: {
                                          mapTypeIds: [google.maps.MapTypeId.ROADMAP]
                                      }
                                  },
                                  map = new google.maps.Map(document.getElementById('map'), mapOptions),
                                  myLatlng = new google.maps.LatLng(lat, lng),




                                  marker = new google.maps.Marker({
                                      position: myLatlng,
                                      map: map,
                                      icon: {
                                          url: '/Content/img/marker.png',
                                          scaledSize: new google.maps.Size(26, 42)
                                      }
                                  });





                    map.mapTypes.set('map_style', customMap);
                    map.setMapTypeId('map_style');








                });









                //---------------------------------- End google map location -----------------------------------------//


            });

        })(jQuery);

    </script>
    <!-- Google analytics -->
    <!-- End google analytics -->

</body>
</html>



