@model mywebsite.ViewModels.Shared.ViewModel
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>SPLIT - PERSONAL VCARD HTML TEMPLATE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @Styles.Render("~/bundles/css/bootstrap")
    @Styles.Render("~/bundles/css/owl")
    @Styles.Render("~/bundles/css/magnific-popup")
    @Styles.Render("~/bundles/css/fonts")
    @Styles.Render("~/bundles/css/main")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    @RenderSection("css", false)
    <!--[if gte IE 9]>
        <link rel="stylesheet" type="text/css" href="/Content/css/ie9.css" />
    <![endif]-->
</head>
<body>
    @RenderBody()

    @Html.Partial("_Preloader")

    <!--Wrapper-->
    <div id="wrapper" class="margLTop  margLBottom">
        <div class="container">
            <div class="row ">
                <!--Left content-->
                <div class="col-md-3 nopr left-content">
                    @Html.Partial("_LeftHeader")
                </div>
                <!--End left content-->

                <!--Right content-->
                <div class="col-md-9 right-content">
                    @Html.Partial("_AboutSection")

                    @Html.Partial("_PortfolioSection")

                    @Html.Partial("_BlogSection")

                    @Html.Partial("_ContactSection")
                </div>
                <!--End right content-->
            </div>
        </div>
    </div>
    <!--End wrapper-->

    <!--Javascript-->
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/owl")
    @Scripts.Render("~/bundles/js/main")
    @Scripts.Render("~/bundles/js/magnific-popup")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false" type="text/javascript"></script>
    <script src="~/Content/js/googlemap.js" type="text/javascript"></script>

    @RenderSection("script", false)

    <script>

        

    </script>
    <!-- Google analytics -->
    <!-- End google analytics -->

</body>
</html>



